//METHOD BEGIN
- var h = me.method + url.replace(/\//g, '-');

if (me.method == "get")
    - var lbl = "label-primary"
else if (me.method == "post")
    - var lbl = "label-success"
else if (me.method == "patch")
    - var lbl = "label-warning"
else if (me.method == "delete")
    - var lbl = "label-danger"

td
    a(href="##{h}")
        span(class="label #{lbl}") #{me.method.toUpperCase()}
td(class="sidebar-nav-url")
    a(href="##{h}")
        span !{url}