if (first)
    h2(id="#{me.id}") #{me.title}
else
    h3(id="#{me.id}") #{me.title}

if (me.text != "")
    | !{me.text}

each val in me.paragraphs
    div(class="paragraph") !{val.render(doc, false)}